<div class="container">
  <div class="row justify-content-center m-3">
    <div class="col-12 col-lg-6 bg-white pb-3">
      <h1 class="mt-3">Add a new cat</h1>
      <%= render "form", cat: @cat %>
    </div>
  </div>
</div>
